
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family:'Avenir LT W01 35 Light';
  font-family: Helvetica, sans-serif;
}

.carousel img {
  height:100vh;
  width: 100%;
  object-fit: cover;  
  margin: auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EditProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
}

.HelloUser {
  margin: 20px 20px;
}

.UserInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.HeadEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeadImage {
  width: 100vw;
  height: auto;
}

.HeadHeader {
  margin: 5px 20px;
  background-color: #ff442f6a;
  border-radius: 70px;
}

.EventTitle {
  margin: 20px 10px;
  font-family: Arial, Helvetica, sans-serif
}
.DetailImg {
  width: 100vw;
  height: auto;
}

.CommImg {
  width: 100vw;
  height: auto;
}

.CommAtend{

}

.CommAtend .UserImg{
  width: 100px;
  height: 100px;
}

.mTitle {
  font-size: 70px;
  text-align: center;
  font-weight: 500;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* PROFILE LINES */

.profHeader {
  background-color: #ff442f6a;
  border-bottom-left-radius: 10px;  
  border-bottom-right-radius: 700px;  

}

.UserImg {
  width: 40vw;
  height: auto;
  border-radius: 100vw;

}

.AttImage {
  width: 20vw;
  height: auto;
  border-radius: 5px;

}

.ImgeName {
  padding: 20px 10px 0px 10px;
}

.events {
  margin-top: 30px;
  color: rgb(87, 82, 82);
}

.pTitle {
  color: #282c34;
}

.pSmallTitle {

}

.deleteP {
  text-decoration: none;
}

.Name {
  margin: 10px auto;
  text-align: center;
}

.UserInfo {
  text-align: center;
}

.FavImage {
  width: 15vw;
  height: auto;
  border-radius: 5px;
}

.ProfileImage {
  width: 1vw;
  height: auto;
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Row {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 padding: 10px 20px;
}

.Column {
  flex: 50%;
  align-items: center;
  background-color: #282c343c;
  color: white;
  border-radius: 30px;
  padding: 2vw 5vw;
  margin: 4vw;

}

.smallBox {
  padding: 20px 20px;
}

.rowB {
  align-items: center;
  align-content: center;
}

.clickEvent {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.bAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.EventDetails {
  text-decoration: none;
}

/* EVENT DETAILS */

.eTitle {
 margin: 30px 20px 20px 2px;
}

.eMainT {
  padding-bottom: 20px;
  margin: 10px 30px
}

.typeOf {
  text-align: right;
  margin: 0px 0px 0px 20px;
  border-bottom-left-radius: 180px;
  padding: 30px;
  color: grey;
  background-color: #ff442f6a;
}

.nSpace {
  margin: 0px 5px 0px auto;
  font-size: 65%;
}

.eDescription {
  padding: 20px 50px;
  font-style: italic;
  font-weight: 300;
}

.linkB {
  text-decoration: none;
  color: #282c34;
  font-weight: 400;
}

.saberMais {
  text-decoration: none;
  color: #282c34;
  font-weight: 400;
}
